.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}
//this will change
.sm-format,
.md-format,
.lg-format,
.xl-format {
  width: 60%;
  margin-left: 20%;
}

#barberShopPage {
  position: absolute;
  height: 100%;
  ////////////
  // width: 60%;
  // margin-left: 20%;
  ////////////

  .banner {
    position: relative;
    width: 100%;
    height: 35%;
    background-color: #252525b0;

    .banner-logo {
      position: absolute;
      width: 140px;
      height: 140px;
      bottom: 65px;
      left: 5px;
      border-radius: 5px;
      background-color: rgb(42, 42, 42);
      box-shadow: 2px 2px 2px 2px rgba(14, 14, 14, 0.322);
    }

    .banner-wallpaper {
      position: relative;
      width: 100%;
      height: calc(100% - 60px);
    }

    .actions-box {
      position: relative;
      width: 100%;
      height: 60px;
      display: inline-block;
      text-align: right;
      padding-top: 10px;
      background-color: white;

      .action-logo {
        position: relative;
        margin-right: 20px;
        width: 25px;
        height: 25px;
        display: inline-block;
        background-color: white;
        border-color: white;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
      }

      .btn-reservation {
        position: relative;
        margin-right: 10px;
        height: 20px;
        bottom: 10px;
        background-color: white;
      }

      .darkbox {
        position: absolute;
        top: 0px;
        height: 60px;
        left: 5px;

        .darkbox-white-stars {
          position: absolute;
          left: 0px;
          color: black;
          bottom: 10px;
          border-color: black;
          text-shadow: black;
          text-shadow: 1px 1px rgb(14, 14, 14);
        }

        .darkbox-stars.v-icon {
          position: absolute;
          left: 0px;
          bottom: 10px;
          color: yellow !important;
        }
      }
    }
  }

  .info-content {
    position: relative;
    // top: 60px;
    width: 100%;
    
    .v-stepper {
      box-shadow: none !important;

      .v-stepper__content {
        border-left: none !important;
      }

      .v-stepper__header {
        height: 40px;
        box-shadow: none !important;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #cecece4f;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #252525b0;
        box-shadow: 4px, 3px #ffffff4f;

        .v-divider {
          visibility: hidden !important;
        }

        .v-stepper__step {
          text-align: center !important;
          // font-size: 11px;
          padding-top: 10px;
          cursor: pointer;
          height: 40px;
          border-radius: 10px;

          .v-stepper__label {
            padding-top: auto;
          }

          .v-divider {
            flex: none !important;
          }
          .v-stepper__step__step {
            width: 0px !important;
            min-width: 0px !important;
            visibility: hidden !important;
          }
        }
      }
    }

    .info-content-box-2 {
      width: 200px;
      height: 250px;
      background-color: red;
      padding-top: 10px;
    }

    .info-content-box {
      width: 200px;
      height: 250px;
      background-color: white;
      // padding-top: 10px;

      .info-box {
        position: absolute;
        width: 30%;
        height: 100%;
      }
      .map-box {
        position: absolute;
        width: 40%;
        height: 80%;
        // top: 20px;
        right: 10px;
        background-color: rgba(97, 97, 97, 0.753);
      }
    }
  }

  .barbershop-content {
    position: relative; //absolute for get total height
    width: 100%;
    height: 300px;
    background-color: white;

    .barbershop-content-barbers {
      position: absolute;
      width: 100%;
      height: 290px;
      border-top-width: 2px;

      .barbershop-content-barbers-profiles {
        position: relative;
        width: 100%;
        height: 290px;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        overflow-y: scroll;

        .profile-box:hover {
          box-shadow: 1px 1px 1px 1px rgba(116, 115, 115, 0.63);
        }

        .profile-box {
          position: relative;
          width: 200px;
          height: 250px;
          display: inline-block;
          text-align: center;
          margin-left: 10px;
          background-color: white;

          .picture-background {
            position: relative;
            width: 100%;
            height: 50%;
            background-color: white;
          }

          .info-box {
            position: relative;
            width: 100%;
            height: 50%;
            background-color: white;
            text-align: center;

            .barber-profile-picture:hover {
              border-style: solid;
            }

            .barber-profile-picture {
              // position: absolute;
              top: -30px;
              margin: auto;
              width: 60px;
              height: 60px;
              border-style: solid;
              border-color: white;
              border-radius: 50%;
            }

            .barber-profile-text {
              position: relative;
              font-size: 12px;
              // bottom: 5px;
            }
          }
        }
      }
    }

    .barbershop-actions {
      position: relative;
      width: 100%;
      height: 50px; //var responsivity - height
      background-color: rgb(42, 42, 42);
      display: inline-block;
      text-align: right;
      padding-top: 10px;

      .action-logo {
        position: relative;
        margin-right: 20px;
        width: 25px;
        height: 25px;
        display: inline-block;
        background-color: #d4d4d4;
        border-color: #d4d4d4;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
      }

      .btn-reservation {
        position: relative;
        margin-right: 10px;
        height: 20px;
        bottom: 10px;
        background-color: #d4d4d4;
      }
    }

    .barbershop-content-presentation {
      height: 200px;

      .barbershop-content-info {
        position: relative;
        width: 100%;
        height: 200px;
        text-align: left;
        padding-left: 10px;
      }

      .barbershop-content-pictures {
        position: relative;
        width: 100%;
        height: 200px;
      }
    }

    .barbershop-content-recomendation {
      position: relative;
      width: 100%;
      height: 400px;
      margin-top: 10px;
      border-top-width: 10px;
      border-top-style: solid;
      background-color: rgb(42, 42, 42);
      border-top-color: rgb(50, 50, 50);
    }
  }

  // .font-info-title {
  //   margin-bottom: -1px;
  //   font-style: italic;
  //   font-size: 11px;
  // }

  // .font-info {
  //   font-style: italic;
  //   font-size: 12px;
  // }

  // .font-info-small {
  //   margin-bottom: -1px;
  //   font-style: italic;
  //   font-size: 11px;
  // }

  .content2 {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: green;
  }

  .custom-dialogs__footer {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #cecece4f;
  }

  .custom-stepper {
    .v-stepper__header {
      box-shadow: none;
      border: 1px solid #d4d4d4;
      border-radius: 80px;
      margin: 31px;
    }
  }

  .delete-snackbar {
    height: 48px !important;

    .v-snack__content {
      padding: 0 !important;
      align-items: initial !important;

      .delete-snackbar-button {
        width: 100% !important;
        position: relative;
        left: 0px;
        margin-left: 0 !important;

        i {
          font-size: 29px !important;
        }

        .v-icon {
          padding-left: 0px !important;
        }
      }
    }
  }
}
