.custom-divider_left {
  position: relative;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.custom-divider_right {
  position: relative;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}
