.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}
//this will change
.sm-format,.md-format,.lg-format,.xl-format {
  width: 60%;
  margin-left: 20%;
}


#toolbar {
  .logo {
    cursor: pointer;
    width: 120px;
    height: 25px;
  //  background-color: rgba(0, 0, 0, 0.685);
  }

  .menuItems {
    position: absolute;
    left: 200px;
  }

  .toolbar-button.v-btn {
    font-size: 12px;
    text-transform: none;
  }
}
