#toolbar {
  .logo {
    cursor: pointer;
    width: 120px;
    height: 25px;
  }

  .menuItems {
    position: absolute;
    left: 200px;
  }

  .toolbar-button.v-btn {
    font-size: 12px;
    text-transform: none;
  }
}
