#drawer-left {
  top: 65px;
  width: 250px !important;
  height: calc(100% - 60px) !important;
}

.settings {
  position: absolute !important;
  bottom: 5px !important;
  right: 5px !important;
}
