#drawer-left {
  top: 65px;
  width: 200px !important;
  height: calc(100% - 65px) !important;

  .settings {
    position: absolute !important;
    bottom: 5px !important;
    right: 5px !important;
  }

  .list-item {
    // margin: auto;
    // padding-bottom: 10px;
    .list-item-content {
      // position: relative;
      // height: 40px !important;
    }
  }
}
