.stepper {
  .v-stepper__content {
    padding: 0 !important;
  }
}
.x-dialogs {
  border-radius: 0px !important;

  .x-stepper {
    box-shadow: none !important;
    border: none;
    border-radius: 80px;
    margin: 31px;

    .v-stepper__header {
      box-shadow: none;
      border-radius: 50px;
      padding: 11px 28px;
      margin-left: 5%;
      width: 89%;
      margin-top: 22px;
      border: 1px solid #d4d4d4;
    }

    .v-stepper__step > .v-stepper__label {
      color: #8f8f8f !important;
      text-shadow: none;
    }

    .v-stepper__step__step {
      background-color: #de5656 !important;
    }
  }
}

.x-dialogs__footer {
  border-top: 1px solid #f1f1f1;
  padding: 8px;
}

.x-dialogs__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 60px; 
  padding-right: 60px;
}

.date-box {
  input {
    border-style: solid;
    height: 30px !important;
    font-size: 16px;
  }
}

.hours-box {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  overflow-y: scroll;
  text-align: center;

  .hour-item.v-btn {
    position: relative;
    width: 30px !important;
    min-width: 50px !important;
    height: 20px;
    top: 0px;
    border-radius: 10px;
    margin: 1 !important;
    display: inline-block;
    text-align: center;
  }
}
