.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}

.sm-format,
.md-format,
.lg-format,
.xl-format {
  width: 60%;
  margin-left: 20%;
}

#homePage {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);

  .banner {
    position: relative;
    margin: auto;
    width: 100%;
    // box-shadow: 2px 2px 2px 2px;
    top: 65px;
    margin-bottom: 65px;

    .banner-img {
      position: relative;
      height: 100%;
      background-image: linear-gradient(#ff9d2f, #ff6126);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 69%);
    }

    .title {
      position: absolute;
      z-index: 1;
      top: 45%;
      left: 10%;
      font-size: 40px !important;
      color: white;
    }

    .sub-title {
      position: absolute;
      z-index: 1;
      top: 55%;
      left: 15%;
      color: white;
    }
  }

  .about_us-box {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: -70px;

    .about_us-title {
      position: relative;
      top: 40px;
    }

    .about_us-text {
      position: relative;
      top: 40px;
      font-size: 18px;
    }

    .employees-list {
      position: relative;
      width: 100%;
      top: 20px;
      padding: 10px;
      text-align: center;

      .employee-item {
        position: relative;
        margin: 5px;
        width: 300px;
        height: 280px;
        display: inline-table;
        text-align: center;

        .employee-img {
          border-radius: 50%;
          width: 150px;
          height: 150px;
          margin: auto;
          border-width: 4px;
          border-style: solid;
          border-color: #c9c7c744;
        }

        .employee-name {
          margin-top: 10px;
          font-size: 16px;
        }

        .employee-info {
          color: #504e4ebb;
        }

        .employee-social {
          position: relative;
          width: 100%;

          .social-logo {
            position: relative;
            width: 30px;
            height: 30px;
            display: inline-block;
            margin: 0 20px 0 20px;
            background-color: white;
            border-color: white;
            border-radius: 10px;
            border-style: solid;
            border-width: 2px;
            cursor: pointer;
          }
        }

        .employee-url {
          position: absolute;
          bottom: 0px;
          margin-left: 40%;
        }
      }
    }
  }

  //DECORATOR - center of the page
  .decoration-box {
    position: relative;
    // height: 300px;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
  }

  //services
  .services-box {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: -70px;

    .services-title {
      top: 40px;
      text-align: center;
    }

    .services-text {
      top: 40px;
      font-size: 18px;
      text-align: center;
    }

    .services-list {
      position: relative;
      width: 100%;
      top: 20px;
      padding: 10px;
      text-align: center;

      .service-item {
        position: relative;
        margin: 5px;
        margin-top: 20px;
        width: 300px;
        height: 240px;
        display: inline-table;
        text-align: center;
        font-size: 16px;

        .service-icon {
          font-size: 40px;
          color: #424242bb;
        }

        .service-name {
          margin-bottom: 20px;
        }

        .service-info {
          margin-left: 10px;
          color: #504e4ebb;
        }

        .service-url {
          position: absolute;
          bottom: 0px;
          margin-left: 40%;
          color: #3b3b3bbb;
        }
      }
    }
  }

  //footer
  .footer {
    position: relative;
    width: 100%;
    height: 200px; //delete this when end the footer design
    padding: 20px;
    margin-top: 100px;
    background-color: #66666657;

    .logo {
      text-align: center;
      font-size: 30px;
    }

    .footer-social {
      position: relative;
      width: 100%;
      text-align: center;

      .social-logo {
        position: relative;
        width: 25px;
        height: 25px;
        display: inline-block;
        margin: 0 20px 0 20px;
        background-color: white;
        border-color: white;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
      }
    }

    .footer-email {
      text-align: center;
    }

    .footer-bussiness {
      position: relative;
      top: 10px;
      text-align: center;
    }
  }
}
