.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}

.sm-format,
.md-format,
.lg-format,
.xl-format {
  width: 60%;
  margin-left: 20%;
}

.background-dialog {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;

  .toolbar-dialog {
    position: absolute;
    top: 0px;
    z-index: 1;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.685);
  }

  .barber-profile-page {
    position: absolute;
    height: 100%;
    background-color: white;

    .banner {
      position: relative;
      width: 100%;
      height: 30%;

      .banner-logo {
        position: absolute;
        width: 140px;
        height: 140px;
        bottom: 5px;
        left: 5px;
        border-radius: 5px;
        background-color: rgb(42, 42, 42);
        box-shadow: 2px 2px 2px 2px rgba(14, 14, 14, 0.322);
      }

      .banner-wallpaper {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

    .actions-box {
      position: relative;
      width: 100%;
      height: 10px; //var responsivity - height
      background-color: white; //////////
      display: inline-block;
      text-align: right;
      padding-top: 10px;

      .action-logo {
        position: relative;
        margin-right: 20px;
        width: 25px;
        height: 25px;
        display: inline-block;
        background-color: white;
        border-color: white;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        cursor: pointer;
      }

      .btn-reservation {
        position: relative;
        margin-right: 10px;
        height: 20px;
        bottom: 10px;
        background-color: white;
      }

      .darkbox {
        position: absolute;
        top: 0px;
        height: 60px;
        left: 5px;

        .darkbox-name {
          position: relative;
          font-size: 18px;
          color: black;
          border-color: black;
          text-shadow: black;
          text-shadow: 1px 1px rgba(151, 151, 151, 0.425);
        }

        .darkbox-white-stars {
          position: absolute;
          left: 0px;
          color: black;
          bottom: 10px;
          border-color: black;
          text-shadow: black;
          text-shadow: 1px 1px rgb(14, 14, 14);
        }

        .darkbox-stars.v-icon {
          position: absolute;
          left: 0px;
          bottom: 10px;
          color: yellow !important;
        }
      }
    }

    .info-content {
      position: relative;
      top: 60px;
      width: 100%;

      .v-stepper {
        box-shadow: none !important;

        .v-stepper__content {
          border-left: none !important;
        }

        .v-stepper__header {
          height: 40px;
          box-shadow: none !important;
          border-bottom-style: solid;
          border-width: 1px;
          border-color: #cecece4f;
          // padding-bottom: 20px;

          .v-divider {
            visibility: hidden !important;
          }

          .v-stepper__step {
            text-align: center !important;
            font-size: 11px;
            padding-top: 10px;
            cursor: pointer;
            height: 40px;
            border-radius: 10px;

            .v-stepper__label {
              padding-top: auto;
            }

            .v-divider {
              flex: none !important;
            }
            .v-stepper__step__step {
              width: 0px !important;
              min-width: 0px !important;
              visibility: hidden !important;
            }
          }
        }
      }

      .info-content-box-2 {
        width: 200px;
        height: 250px;
        background-color: red;
        padding-top: 10px;
      }

      .info-content-box {
        width: 200px;
        height: 250px;
        background-color: white;
        padding-top: 10px;

        .info-box {
          position: absolute;
          width: 30%;
          height: 100%;
        }
        .map-box {
          position: absolute;
          width: 40%;
          height: 80%;
          top: 20px;
          right: 10px;
          background-color: rgba(97, 97, 97, 0.096);
        }
      }
    }

    .pictures-box {
      position: relative;
      width: 100%;
      height: 200px;
      // background-color: rgba(97, 97, 97, 0.096);
      text-align: center;
      display: inline-block;
      overflow: hidden;
      overflow-y: scroll;

      .picture-box {
        position: relative;
        width: 150px;
        height: 150px;
        display: inline-block;
        text-align: center;
        margin-left: 10px;
        // border-style: solid;
        // background-color: white;

        .picture {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }
    }
  }

  .font-info-title {
    margin-bottom: -1px;
    font-style: italic;
    font-size: 11px;
  }

  .font-info {
    font-style: italic;
    font-size: 12px;
  }

  .font-info-small {
    margin-bottom: -1px;
    font-style: italic;
    font-size: 11px;
  }
}
